<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="/css/echarts.css" />
  </head>
  <body>
    <div class="header">
      <h1><%= title %></h1>
      <p>Echarts 動態圖表</p>
    </div>

    <!-- <button class="refresh-btn" onclick="refreshData()">重新整理資料</button> -->

    <div class="dashboard">
      <div class="chart-container two-gridspan-container">
        <div class="chart-title">折線圖</div>
        <div id="lineChart" class="lineChart Chart"></div>
      </div>

      <div class="chart-container">
        <div class="chart-title">圓餅圖</div>
        <div id="pieChart" class="chart"></div>
      </div>

      <div class="chart-container">
        <div class="chart-title">圓餅圖</div>
        <div id="pieChart2" class="chart"></div>
      </div>

      <div class="chart-container">
        <div class="chart-title">圓餅圖</div>
        <div id="pieChart3" class="chart"></div>
      </div>

      <div class="chart-container">
        <div class="chart-title">柱狀圖</div>
        <p id="status" class="FATStatus_months"></p>

        <button id="switchBtn" class="refresh-btn switch-btn">
          切換年份／月份
        </button>

        <div id="mixedBarChart2" class="chart"></div>
      </div>

      <div class="chart-container two-gridspan-container">
        <div class="chart-title">柱狀圖</div>
        <div id="mixedBarChart" class="chart cumulative-frequency"></div>
      </div>

      <div class="chart-container two-gridspan-container">
        <div class="chart-title">雙層圓餅圖</div>
        <div id="trafficPieChart" class="chart nested-pie"></div>
      </div>
    </div>

    <script id="chart-data" type="application/json">
      <%- JSON.stringify(data) %>
    </script>

    <script type="module" src="/js/chartData.js"></script>
  </body>
</html>
